.count {
    background-color:#000000;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    width: 30px;
    height: 30px;

}

.cuantity{
    color:#ecde9f;
    font-weight:bold; 
}